.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}

.header div,
.header nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header nav a {
 text-decoration: none;
 color: inherit;
}

.header nav a:hover {
    text-decoration: underline;
}