.contactButton {
  border-radius: 20px;
  padding: 10px 20px;
  gap: 15px;
  border: transparent;
  outline: transparent;
  background-color: rgba(125, 125, 125, 0.135);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contactButton:hover {
  background-color: rgba(125, 125, 125, 0.565);
}
.name {
  align-items: center;
}
.name h2 {
  font-size: 15px;
}
.number {
  align-items: center;
}

div svg {
  flex-shrink: 0;
}