.findContactForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(160, 160, 160, 0.103);
    padding: 15px;
    border-radius: 20px;
    margin: 5px 0;
}
.findContactName {
}
.findContactInput {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 20px;
    border: transparent;
    outline: transparent;
}
